<h1>Result</h1>

<p>Sorry but <strong><%= @guess.upcase %></strong> can't be built out of:  <%= @letters %></p>

<p>Sorry but <strong><%= @guess.upcase %></strong> does not seem to be a valid English word...</p>

<p><strong>Congrats!</strong> <strong><%= @guess.upcase %></strong> is a valid English word!</p>

